/* BPmono - http://www.fontsquirrel.com/fonts/BPmono
*******************************************************************************************/
@font-face {
	font-family: 'BPmonoRegular';
	src: url('../type/bpmono/BPmono-webfont.eot#') format('eot'),
		   url('../type/bpmono/BPmono-webfont.woff') format('woff'),
	     url('../type/bpmono/BPmono-webfont.ttf') format('truetype'),
	     url('../type/bpmono/BPmono-webfont.svg#webfonttgCnXGzF') format('svg');
}

@font-face {
	font-family: 'BPmonoItalic';
	src: url('../type/bpmono/BPmonoItalics-webfont.eot#') format('eot'),
		   url('../type/bpmono/BPmonoItalics-webfont.woff') format('woff'),
	     url('../type/bpmono/BPmonoItalics-webfont.ttf') format('truetype'),
	     url('../type/bpmono/BPmonoItalics-webfont.svg#webfontEN5FdZ8N') format('svg');
}

@font-face {
	font-family: 'BPmonoBold';
	src: url('../type/bpmono/BPmonoBold-webfont.eot#') format('eot'),
		   url('../type/bpmono/BPmonoBold-webfont.woff') format('woff'),
	     url('../type/bpmono/BPmonoBold-webfont.ttf') format('truetype'),
	     url('../type/bpmono/BPmonoBold-webfont.svg#webfontORAQs5ok') format('svg');
}


/* Capsuula - http://www.fontsquirrel.com/fonts/capsuula
*******************************************************************************************/
@font-face {
	font-family: 'CapsuulaRegular';
	src: url('../type/capsuula/Capsuula-webfont.eot#') format('eot'),
	     url('../type/capsuula/Capsuula-webfont.woff') format('woff'),
	     url('../type/capsuula/Capsuula-webfont.ttf') format('truetype'),
	     url('../type/capsuula/Capsuula-webfont.svg#webfontts06Zyqr') format('svg');
}


/* Devroye - http://www.fontsquirrel.com/fonts/Devroye
*******************************************************************************************/
@font-face {
	font-family: 'DevroyeRegular';
	src: url('../type/devroye/DEVROYE_-webfont.eot#') format('eot'),
	     url('../type/devroye/DEVROYE_-webfont.woff') format('woff'),
	     url('../type/devroye/DEVROYE_-webfont.ttf') format('truetype'),
	     url('../type/devroye/DEVROYE_-webfont.svg#webfontmj1PSxXC') format('svg');
}

@font-face {
	font-family: 'DevroyeExtraRegular';
	src: url('../type/devroye/DEVROYEX-webfont.eot#') format('eot'),
	     url('../type/devroye/DEVROYEX-webfont.woff') format('woff'),
	     url('../type/devroye/DEVROYEX-webfont.ttf') format('truetype'),
	     url('../type/devroye/DEVROYEX-webfont.svg#webfontFpCwKRaY') format('svg');
}

@font-face {
	font-family: 'DevroyeRegular';
	src: url('../type/devroye/DEVROYSC-webfont.eot#') format('eot'),
	     url('../type/devroye/DEVROYSC-webfont.woff') format('woff'),
	     url('../type/devroye/DEVROYSC-webfont.ttf') format('truetype'),
	     url('../type/devroye/DEVROYSC-webfont.svg#webfontvWYIwK4p') format('svg');
}

@font-face {
	font-family: 'DevroyeRegular';
	src: url('../type/devroye/DEVROYUN-webfont.eot#') format('eot'),
	     url('../type/devroye/DEVROYUN-webfont.woff') format('woff'),
	     url('../type/devroye/DEVROYUN-webfont.ttf') format('truetype'),
	     url('../type/devroye/DEVROYUN-webfont.svg#webfontKcT1Eydx') format('svg');
}


/* Dominic's Handwriting - http://www.yourfonts.com/
*******************************************************************************************/
@font-face {
	font-family: 'MyHandwritingRegular';
	src: url('../type/my-handwriting/my_handwriting-webfont.eot#') format('eot'),
	     url('../type/my-handwriting/my_handwriting-webfont.woff') format('woff'),
	     url('../type/my-handwriting/my_handwriting-webfont.ttf') format('truetype'),
	     url('../type/my-handwriting/my_handwriting-webfont.svg#webfontxLUhbGHe') format('svg');
}


/* Gooddog - http://www.fontsquirrel.com/fonts/GoodDog
*******************************************************************************************/
@font-face {
	font-family: 'GoodDogRegular';
	src: url('../type/gooddog/GoodDog-webfont.eot#') format('eot'),
	     url('../type/gooddog/GoodDog-webfont.woff') format('woff'),
	     url('../type/gooddog/GoodDog-webfont.ttf') format('truetype'),
	     url('../type/gooddog/GoodDog-webfont.svg#webfontx1QlgLst') format('svg');
}


/* IM-FELL-DW-Pica-PRO - http://www.fontsquirrel.com/fonts/IM-FELL-DW-Pica-PRO
*******************************************************************************************/
@font-face {
	font-family: 'IMFELLDWPicaPRORegular';
	src: url('../type/im-fell-dw-pica/fepirm27c-webfont.eot#') format('eot'),
	     url('../type/im-fell-dw-pica/fepirm27c-webfont.woff') format('woff'),
	     url('../type/im-fell-dw-pica/fepirm27c-webfont.ttf') format('truetype'),
	     url('../type/im-fell-dw-pica/fepirm27c-webfont.svg#webfontzR1umzRk') format('svg');
}

@font-face {
	font-family: 'IMFELLDWPicaPROItalic';
	src: url('../type/im-fell-dw-pica/fepiit27c-webfont.eot#') format('eot'),
	     url('../type/im-fell-dw-pica/fepiit27c-webfont.woff') format('woff'),
	     url('../type/im-fell-dw-pica/fepiit27c-webfont.ttf') format('truetype'),
	     url('../type/im-fell-dw-pica/fepiit27c-webfont.svg#webfontNYKz28yZ') format('svg');
}


/* Immortal - http://www.fontsquirrel.com/fonts/Immortal
*******************************************************************************************/
@font-face {
	font-family: 'ImmortalRegular';
	src: url('../type/immortal/immortal-webfont.eot#') format('eot'),
	     url('../type/immortal/immortal-webfont.woff') format('woff'),
	     url('../type/immortal/immortal-webfont.ttf') format('truetype'),
	     url('../type/immortal/immortal-webfont.svg#webfontsxCVkhfP') format('svg');
}

@font-face {
	font-family: 'Immortal-AlternatesRegular';
	src: url('../type/immortal/IMMRTLT_-webfont.eot#') format('eot'),
	     url('../type/immortal/IMMRTLT_-webfont.woff') format('woff'),
	     url('../type/immortal/IMMRTLT_-webfont.ttf') format('truetype'),
	     url('../type/immortal/IMMRTLT_-webfont.svg#webfontnbf8yvsA') format('svg');
}


/* JR Hand - http://www.fontsquirrel.com/fonts/Jr-Hand
*******************************************************************************************/
@font-face {
	font-family: 'jrhandRegular';
	src: url('../type/jr-hand/jr!ha___-webfont.eot#') format('eot'),
	     url('../type/jr-hand/jr!ha___-webfont.woff') format('woff'),
	     url('../type/jr-hand/jr!ha___-webfont.ttf') format('truetype'),
	     url('../type/jr-hand/jr!ha___-webfont.svg#webfontzEdRUHuk') format('svg');
}


/* Present Bold - http://www.abstractfonts.com/font/11950
*******************************************************************************************/
@font-face {
	font-family: 'PresentBold';
	src: url('../type/present-bold/present-webfont.eot#') format('eot'),
	     url('../type/present-bold/present-webfont.woff') format('woff'),
	     url('../type/present-bold/present-webfont.ttf') format('truetype'),
	     url('../type/present-bold/present-webfont.svg#webfontQep710FQ') format('svg');
}


/* Tangerine - http://www.fontsquirrel.com/fonts/Tangerine
*******************************************************************************************/
@font-face {
	font-family: 'TangerineRegular';
	src: url('../type/tangerine/Tangerine_Regular-webfont.eot#') format('eot'),
	     url('../type/tangerine/Tangerine_Regular-webfont.woff') format('woff'),
	     url('../type/tangerine/Tangerine_Regular-webfont.ttf') format('truetype'),
	     url('../type/tangerine/Tangerine_Regular-webfont.svg#webfont27auK6Sb') format('svg');
}

@font-face {
	font-family: 'TangerineBold';
	src: url('../type/tangerine/Tangerine_Bold-webfont.eot#') format('eot'),
	     url('../type/tangerine/Tangerine_Bold-webfont.woff') format('woff'),
	     url('../type/tangerine/Tangerine_Bold-webfont.ttf') format('truetype'),
	     url('../type/tangerine/Tangerine_Bold-webfont.svg#webfont3In8WWiJ') format('svg');
}


/* Times Sans Serif - http://www.dafont.com/times-sans-serif.font
*******************************************************************************************/
@font-face {
	font-family: 'TimesSansSerifRegular';
	src: url('../type/times-sans-serif/timess__-webfont.eot#') format('eot'),
	     url('../type/times-sans-serif/timess__-webfont.woff') format('woff'),
	     url('../type/times-sans-serif/timess__-webfont.ttf') format('truetype'),
	     url('../type/times-sans-serif/timess__-webfont.svg#webfontVwroyzWo') format('svg');
}


/* Copse - http://www.fontsquirrel.com/fonts/copse
*******************************************************************************************/
@font-face {
	font-family: 'CopseRegular';
	src: url('../type/copse/Copse-Regular-webfont.eot#') format('eot'),
	     url('../type/copse/Copse-Regular-webfont.woff') format('woff'),
	     url('../type/copse/Copse-Regular-webfont.ttf') format('truetype'),
	     url('../type/copse/Copse-Regular-webfont.svg#webfontWKqJmDgH') format('svg');
}


/* Fanwood - http://www.fontsquirrel.com/fonts/fanwood
*******************************************************************************************/
@font-face {
	font-family: 'FanwoodRegular';
	src: url('../type/fanwood/Fanwood-webfont.eot#') format('eot'),
	     url('../type/fanwood/Fanwood-webfont.woff') format('woff'),
	     url('../type/fanwood/Fanwood-webfont.ttf') format('truetype'),
	     url('../type/fanwood/Fanwood-webfont.svg#webfontVVl9NZdu') format('svg');
}

@font-face {
	font-family: 'FanwoodItalic';
	src: url('../type/fanwood/Fanwood-Italic-webfont.eot#') format('eot'),
	     url('../type/fanwood/Fanwood-Italic-webfont.woff') format('woff'),
	     url('../type/fanwood/Fanwood-Italic-webfont.ttf') format('truetype'),
	     url('../type/fanwood/Fanwood-Italic-webfont.svg#webfont8A3Pbj4g') format('svg');
}


/* CODE - http://fontfabric.com/code-free-font-3/
*******************************************************************************************/
@font-face {
	font-family: 'CodeLightRegular';
	src: url('../type/code/code_light-webfont.eot#') format('eot'),
	     url('../type/code/code_light-webfont.woff') format('woff'),
	     url('../type/code/code_light-webfont.ttf') format('truetype'),
	     url('../type/code/code_light-webfont.svg#webfont42N5Npfq') format('svg');
}

@font-face {
	font-family: 'CodeBoldRegular';
	src: url('../type/code/code_bold-webfont.eot#') format('eot'),
	     url('../type/code/code_bold-webfont.woff') format('woff'),
	     url('../type/code/code_bold-webfont.ttf') format('truetype'),
	     url('../type/code/code_bold-webfont.svg#webfontbZBDkpVc') format('svg');
}


/* Josefin Sans - http://www.fontsquirrel.com/fonts/josefin
*******************************************************************************************/
@font-face {
	font-family: 'JosefinSansStdLight';
	src: url('../type/josefin/JosefinSansStd-Light-webfont.eot#') format('eot'),
	     url('../type/josefin/JosefinSansStd-Light-webfont.woff') format('woff'),
	     url('../type/josefin/JosefinSansStd-Light-webfont.ttf') format('truetype'),
	     url('../type/josefin/JosefinSansStd-Light-webfont.svg#webfontSFfvv2vL') format('svg');
}


/* Josefin Slab - http://www.fontsquirrel.com/fonts/josefin-slab
*******************************************************************************************/
@font-face {
	font-family: 'JosefinSlabThin';
	src: url('../type/josefin-slab/JosefinSlab-Thin-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-Thin-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-Thin-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-Thin-webfont.svg#webfontR2lZVBc3') format('svg');
}

@font-face {
	font-family: 'JosefinSlabThinItalic';
	src: url('../type/josefin-slab/JosefinSlab-ThinItalic-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-ThinItalic-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-ThinItalic-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-ThinItalic-webfont.svg#webfontZNeJTQxW') format('svg');
}

@font-face {
	font-family: 'JosefinSlabLight';
	src: url('../type/josefin-slab/JosefinSlab-Light-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-Light-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-Light-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-Light-webfont.svg#webfontj5wOmE3w') format('svg');
}

@font-face {
	font-family: 'JosefinSlabLightItalic';
	src: url('../type/josefin-slab/JosefinSlab-LightItalic-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-LightItalic-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-LightItalic-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-LightItalic-webfont.svg#webfontTpyxNDoo') format('svg');
}

@font-face {
	font-family: 'JosefinSlabRegular';
	src: url('../type/josefin-slab/JosefinSlab-Regular-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-Regular-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-Regular-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-Regular-webfont.svg#webfonteLSPYN56') format('svg');
}

@font-face {
	font-family: 'JosefinSlabItalic';
	src: url('../type/josefin-slab/JosefinSlab-Italic-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-Italic-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-Italic-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-Italic-webfont.svg#webfontafJ1TUK6') format('svg');
}

@font-face {
	font-family: 'JosefinSlabSemiBold';
	src: url('../type/josefin-slab/JosefinSlab-SemiBold-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-SemiBold-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-SemiBold-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-SemiBold-webfont.svg#webfontyVaaX3CG') format('svg');
}

@font-face {
	font-family: 'JosefinSlabSemiBoldItalic';
	src: url('../type/josefin-slab/JosefinSlab-SemiBoldItalic-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-SemiBoldItalic-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-SemiBoldItalic-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-SemiBoldItalic-webfont.svg#webfontmbN6K4hw') format('svg');
}

@font-face {
	font-family: 'JosefinSlabBold';
	src: url('../type/josefin-slab/JosefinSlab-Bold-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-Bold-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-Bold-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-Bold-webfont.svg#webfontJdkZPQ7q') format('svg');
}

@font-face {
	font-family: 'JosefinSlabBoldItalic';
	src: url('../type/josefin-slab/JosefinSlab-BoldItalic-webfont.eot#') format('eot'),
	     url('../type/josefin-slab/JosefinSlab-BoldItalic-webfont.woff') format('woff'),
	     url('../type/josefin-slab/JosefinSlab-BoldItalic-webfont.ttf') format('truetype'),
	     url('../type/josefin-slab/JosefinSlab-BoldItalic-webfont.svg#webfontjilVDTfS') format('svg');
}


/* Rock Salt - http://www.fontsquirrel.com/fonts/rock-salt
*******************************************************************************************/
@font-face {
	font-family: 'RockSaltRegular';
	src: url('../type/rock-salt/RockSalt-webfont.eot#') format('eot'),
	     url('../type/rock-salt/RockSalt-webfont.woff') format('woff'),
	     url('../type/rock-salt/RockSalt-webfont.ttf') format('truetype'),
	     url('../type/rock-salt/RockSalt-webfont.svg#webfontCOxZFOKy') format('svg');
}
  